*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #ccc;
}
.container{
    max-width: 900px;
    margin: 0 auto;
}
    .job_applied{
        max-width: 600px;
        margin: 0 auto;
    background-color: white;
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#smallWeb{
    font-size: 20px;
}
.form_container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
}
.form_apply{
    display: flex;
    flex-direction: column;
}
input, select, textarea{
    padding: 6px 10px;
    border: 1px solid gray;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 5px;
}
input:focus{
    outline-color: red;
}
label{
    font-size: 17px;
}
.address_form{
    grid-column: 1/span 2;
}
.address_form textarea{
    width: 100%;
}
@media(max-width:460px){
    .address_form{
        grid-column: 1/span 1;
    }
}
.button_container{
    display: flex;
    justify-content: end;
    margin-top: 30px;
}
button{
    background-color: rgb(18, 2, 39);
color: white;
padding: 8px 10px;
border: transparent 2px red;
border-radius: 5px;
transition: 0.2s ease-in;
}
button:hover{
    cursor: pointer;
    background-color: #ccc;
    border: 1px solid red;
    color: black;
    transition: 0.2s ase-out;
}
